<header class="main-header">
  <!-- Main title -->
  <div class="title-container">
    <h1 class="main-title">{{ title }}</h1>
  </div>

  <nav class="nav-container">
    <!-- Common navigation links -->
    <a class="button" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>

    <!-- Conditional rendering based on user's authentication status -->
    <ng-container *ngIf="authService.currentUserSig() === null">
      <!-- Links for unauthenticated users -->
      <a class="button" routerLink="/user-register" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Register</a>
      <a class="button" routerLink="/user-login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Login</a>
    </ng-container>

    <!-- Links for authenticated users -->
    <ng-container *ngIf="authService.currentUserSig() !== null">
      <div>
        <a class="button" routerLink="/movie-upload" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Add movies</a>
        <a class="button" routerLink="/movie-find" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Find Movies</a>
        <span (click)="logout()">Logout</span>
      </div>
    </ng-container>
  </nav>
</header>
