<header class="main-header">
  <img class="main-logo" ngSrc="{{ logoPath }}" height="172" width="161" alt="logo" priority>
  <h1 class="main-title">{{ title }}</h1>
  <nav>
    <a class="button"
       routerLink="/home"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Crisis Center
    </a> |
    <a class="button"
       routerLink="/upload-movie"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      Heroes
    </a>
  </nav>
</header>
